.about-container {
    height: 100vh;
    display: grid;
    grid-template-areas: "site-heading right" "main right";
    grid-template-columns: 95% 5%;
    grid-template-rows: 20% 80%;
    position: relative;
}

.scroll-section {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.section-heading {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase; 
    letter-spacing: 0.05em;
    color: #333;
}

@media screen and (max-width: 1500px) {
    .about-container {
        height: 100vh;
        display: grid;
        grid-template-areas: "site-heading" "main" "right";
        grid-template-columns: 100%;
        grid-template-rows: 15% 75% 10%;
        position: relative;
    }

    .section-heading {
        padding-left: 0px;
        padding-right: 0px;
    }
}