.contact-form-site-wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
}

.contact-container {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "top top top"
        "main site-heading .";
    grid-template-columns: 70% 20% 10%;
    grid-template-rows: 10% 90%;
    position: relative;
}

@media screen and (max-width: 1400px) {
    #wrapper-contact-form-background-card {
        margin-top: 300px;
        width: 100%;
    }

    .contact-container {
        height: 100vh;
        display: grid;
        grid-template-areas: "site-heading" "main" "top" ;
        grid-template-columns: 100%;
        grid-template-rows: 10% 80% 10%;
        position: relative;
    }
}