.projects-container {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "left site-heading"
        "left main"
        "left main";
    grid-template-columns: 5% 95%;
    grid-template-rows: 20% 70% 10%;
    position: relative;
}

@media screen and (max-width: 1400px) {
    .projects-container {
        height: 100vh;
        display: grid;
        grid-template-areas: "site-heading" "main" "left";
        grid-template-columns: 100%;
        grid-template-rows: 15% 75% 10%;
        position: relative;
    }
}