@import url("sites/home.css");
@import url("sites/contact.css");
@import url("sites/projects.css");
@import url("sites/about.css");
@import url("sites/resources.css");
@import url("components/timeline.css");
@import url("components/contact-form.css");
@import url("components/loading-screen.css");
@import url("components/navigation-arrow.css");
@import url("components/projects-slider.css");
@import url("components/download-resource-cards.css");
@import url("components/site-heading.css");
@import url("components/skill-cards.css");
@import url("components/about-me-text.css");
@import url("components/background-card.css");
@import url("components/referees-slider.css");

html body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: monospace;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

*::-webkit-scrollbar {
    display: none;
}

.center-items {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.text-link {
    color: rgb(88, 0, 139);
    text-decoration: none;
}

.text-link:hover {
    transition: color 0.2s ease-in-out;
    text-decoration: underline;
}

.text-link:visited {
    color: rgb(222, 144, 255);
}

.top {
    grid-area: top;
}

.left {
    grid-area: left;
}

.main {
    grid-area: main;
    overflow-y: scroll;
    overflow-x: hidden;
}

.right {
    grid-area: right;
}

.bottom {
    grid-area: bottom;
}

.site-heading {
    grid-area: site-heading;
}