.background-card-wrapper {
    padding: 30px;
    overflow: hidden;
}

.inner-background-card {
    height: 100%;
    width: 100%;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    padding: 50px;
    border-radius: 40px;
    overflow-x: scroll;
}