.typing {
    width: 13ch;
    animation: typing 2s steps(13), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 4em;
}

#wrapper-introduction {
    /* margin-left: 10%; */
}

.typing-already-visited {
    width: 13ch;
    animation: blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 4em;
}

@import "https://fonts.googleapis.com/css?family=Roboto+Mono:100";

.container {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    /* margin-left: 16%; */
    /* max-width: 90%; */
}
.text {
    font-weight: 100;
    font-size: 80px;
    color: #000000;
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    word-break: break-word;
    text-align: center;
}
.dud {
    color: #757575;
}

.text-already-visited {
    font-weight: 100;
    font-size: 80px;
    color: #000000;
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    word-break: break-word;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .text {
        font-size: 60px;
        max-width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .text-already-visited {
        font-size: 60px;
        max-width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .container {
        /* margin-left: 0%; */
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        max-width: 100%;
    }

    #wrapper-introduction {
        /* margin-left: 0%; */
    }
}
