.about-container {
    height: 100vh;
    display: grid;
    grid-template-areas: "site-heading right" "main right";
    grid-template-columns: 95% 5%;
    grid-template-rows: 20% 80%;
    position: relative;
}