.contact-container {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "top"
        "main";
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    position: relative;
}