.home-container {
    height: 100vh;
    display: grid;
    grid-template-areas:
        ". top ."
        "left main right"
        ". bottom .";
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 10% 80% 10%;
}
  
.typing {
    width: 13ch;
    animation: typing 2s steps(13), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 4em;
}

.typing-already-visited {
    width: 13ch;
    animation: blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 4em;
}
  
@keyframes typing {
    from {
      width: 0
    }
}
      
@keyframes blink {
    50% {
      border-color: transparent
    }
}